<section class="awards-section" id="awards">
  <div class="section-heading">
    
    <h2>My <span>Awards</span> & Achievements</h2>
  </div>

  <div class="awards-grid">
    <div class="award-item">
      <div class="award-info">
        <span class="award-badge">2025</span>
        <h3>Winner – Ramzan Transmission</h3>
        <p>At LTN TV / LAHORE ..</p>
      </div>
      <div class="award-image">
        <img src="assets/images/award4.jpg" alt="Campus Ambassador Award">
      </div>
    </div>
    
    <div class="award-item">
      <div class="award-info">
        <span class="award-badge">2024</span>
        <h3>Runner Up-Takra</h3>
        <p>2nd runner up at University of Central Punjab.</p>
      </div>
      <div class="award-image">
        <img src="assets/images/award2.jpg" alt="Hackathon Award">
      </div>
    </div>

    <div class="award-item">
      <div class="award-info">
        <span class="award-badge">2025</span>
        <h3>Best Speaker – UET</h3>
        <p>Agha Sorish Award by UET Taxila.</p>
      </div>
      <div class="award-image">
        <img src="assets/images/award3.jpg" alt="Speaker Award">
      </div>
    </div>

    <div class="award-item">
      <div class="award-info">
        <span class="award-badge">2025</span>
        <h3>2nd Best Debater – UMT</h3>
        <p>Won debate competition among 50+ participants held at University of Management & Technology.</p>
      </div>
      <div class="award-image">
        <img src="assets/images/award1.jpg" alt="UCP Award">
      </div>
    </div>

    <div class="award-item">
      <div class="award-info">
        <span class="award-badge">2024</span>
        <h3>Best Speaker – UOG</h3>
        <p>Awarded at Inter university competition..</p>
      </div>
      <div class="award-image">
        <img src="assets/images/award5.jpg" alt="Volunteer Award">
      </div>
    </div>

  </div>
</section>
