<router-outlet></router-outlet>

<div class="cursor-circle" #cursorCircle></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer class="signature-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Services</h4>
      <p>Web Development<br>Gujrat, Pakistan</p>
    </div>

    <div class="footer-col">
      <h4>Contact Me</h4>
      <p>alishbarazzaq342@gmail.com<br>03454299032</p>
    </div>

    <div class="footer-col">
      <h4>Useful Links</h4>
      <ul> 
    <li><a routerLink="/skills">Skills</a></li>
    <li><a routerLink="/blog">Experience</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-logo">© <span>lish</span></div>
    <div class="footer-policies">
      <a href="#">:)</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>